body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #83a1cd;
    color: #ffffff;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

main {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

footer {
    text-align: center;
}