body {
    font-family: Arial, sans-serif;
    background-color: #83a1cd; 
    color: #ffffff;
}

header {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

main {
    background-color: white;
    color: black;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 10px;
}

p {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
